


<div class="row">
  <div class="col-sm-6">
    <h1>Answers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_answer_path, class: 'btn btn-primary' do %>
    Add New Answer
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Account</th>
            <th>Check in</th>
            <th>Body</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <%= content_tag :tr, id: dom_id(answer), class: dom_class(answer) do %>
          

                      <td><%= answer.user %></td>
                      <td><%= answer.account %></td>
                      <td><%= answer.check_in %></td>
                      <td><%= answer.body %></td>
          
          
            <td><%= link_to 'Show', answer %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
