<div class="page-header">
	<%= link_to "< #{@member.user.name}", account_member_path(@account, @member) %>
</div>

<h1>Edit Subscriptions</h1>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>CheckIn</th>
            <th>Subscription</th>
      </tr>
    </thead>

    <tbody>
      <% @account.check_ins.each do |check_in| %>
        <% subscriber = @member.subscribers.where(check_in: check_in).first %>

        <%= content_tag :tr, class: dom_class(@member) do %>
        
          <td><%= check_in.name %></td>
          <td>
              <div id="<%= dom_id(check_in) %>">
                  <%= render 'members/subscriber_toggle', subscriber: subscriber, member: @member, check_in: check_in %>
              </div>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>



