<%= form_with(model: account, url: account_update_path(@account), local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :billing_email %>
    <%= form.text_field :billing_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :owner, for: :user_id %>
    <%= form.select :user_id, @account.users.collect{|c| [c.name, c.id]}, {include_hidden: false, include_blank: false}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>

    <% if account.persisted? %>
      <%= link_to "Cancel", account_admin_path(@account), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", account_admin_path(@account), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
